<div class="container">
  <h2 align="center">Followers</h2><hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      <% @followers.try(:each) do |f| %>
        <tr>
          <td scope="row"><%= f.email%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>

<hr>

<div class="container">
  <h2 align="center">Following</h2><hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      <% @following.try(:each) do |f| %>
        <tr>
          <td scope="row"><%= f.email%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>